body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3caeb7a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.items {
  display: inline;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  margin-left: 5rem;
  list-style-type: none;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  grid-area: header;
  font-size: larger;
  font-family: "Indie Flower", cursive;
  background-color: #a799d17a;
  min-height: 5rem;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  color: #47299f;
  font-weight: bold;
  width: 100%;
  position: fixed;
}
.footer {
  grid-area: footer;
  font-family: "Indie Flower", cursive;
  font-size: larger;
  font-weight: bold;
  background-color: #a799d17a;
  min-height: 5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #47299f;
}
.main {
  grid-area: main;
}
.content {
  font-family: "Amatic SC", cursive;
  font-family: "Nunito", sans-serif;

  color: #47299f;
  width: 30rem;
  padding: 25px;
  display: flex;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  display: list-item;
  list-style-type: none;
}
.projects {
  width: 90rem;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.project {
  font-family: "Amatic SC", cursive;
  font-family: "Nunito", sans-serif;
  color: #47299f;
  background-color: #d3cce77a;
  border: 0.1rem #a4a4a4 solid;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  margin: 5px;
  width: 35%;
}
.project img {
  width: 97%;
  height: 50%;

  border-radius: 0.5rem;
}
